.cta {
  display: flex;
  height: 80px;
}

.cta-text {
  background: #27212c;
  flex: 1;
  color: #9282a0;
  font-size: .8rem;
  letter-spacing: .8px;
  align-items: center;
  display: flex;
  padding-left: 40px;
}

.cta-arrow {
  background: #bc3183;
  width: 80px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  display: flex;
}

@media screen and (min-width: 640px) {

  .cta {
    height: 150px;
  }
  .cta-text p {
    font-size: 1.4rem;
  }
  .cta-arrow {
    width: 150px;
  }
}

@media screen and (min-width: 980px) {

  .cta {
    height: 235px;
  }
  .cta-text p {
    font-size: 1.8rem;
  }
  .cta-arrow {
    width: 235px;
  }
}
