// Global

a {
  text-decoration: none;
  color: #fff;
}

// Navbar

.navbar {
  background-color: #373C3F;

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .nav-logo {
      margin-left: 30px;

      &:hover {
        color: #ccc;
      }
    }
    #nav-menu-button {
      display: flex;
      padding: 1em;
      overflow: hidden;
      background-color: #202529;
      cursor: pointer;
      color: #fff;
      font-size: 1.2rem;
        &:hover {
          color: #ccc;
        }
      }
   }

  .nav {

    .nav-ul {
      flex-direction: column;
      max-height: 80vh;
      overflow-y: hidden;
      direction: rtl;
      list-style: none;
      text-align: center;
      margin: 0;
      padding: 0;


      li {

        .nav-link {
          width: 100%;
          display: block;
          padding: 1em 0;
          font-size: 1.2rem;
          border-bottom: 1px solid #f4f4f4;
          text-transform: uppercase;

          &:hover {
            color: #ccc;
          }
        }
      }
    }
    .hide-ul {
      max-height: 0vh;
    }
  }
}


// ---- 640 to 919 -----

@media screen and (min-width: 640px) {
  .navbar {
    .heading {
      #nav-menu-button {
        font-size: 1.6rem;
      }
    }
  }
}

// ---- End 640 ----

// ---- 920 and up -----

@media screen and (min-width: 920px) {

  .navbar {
    height: 100px;

    .heading {
      .nav-logo {
        display: none;
      }
      #nav-menu-button {
        display: none;
      }
    }
    .nav {
      .nav-ul {
        display: flex;
        flex-direction: row;
        padding-top: 40px;

        li .nav-link {
          padding: 0 1em;
          font-size: 1.2rem;
          border: none;
        }
      }
    }
  }
}

// ---- End 920 ----
