#nav-container > nav > ul {
  list-style-type: none;
  margin: 0;
}

/* NAVIGATION */
#nav-background {
  background-color: #373c3f;

}

#nav-container {
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;

}

#nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-logo {
  display: none;
}

#nav-logo:hover {
  color: #FFF;
}

.nav-ul {
  display: flex;
  max-width: 921px;
}

.nav-ul > li {
  display: flex;
}

.nav-link {
  flex: 1;
  flex-direction: row;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  transition: 200ms;
  text-transform: uppercase;

}

.nav-link:hover {
  color: #ccc;
}

/* END NAVIGATION */


/* MOBILE MENU */
@media screen and (max-width: 920px) {

  #nav-logo {
    display: inline-block;
    color: #ddd;
    text-decoration: none;
    font-weight: 400;
    margin-left: 2em;
    font-size: 1.4rem;

  }
  #nav-container {
    flex-direction: column;
    text-align: center;
  }

  #nav-menu-button {
    display: flex;
    padding: 1rem;
    overflow: hidden;
    background-color: #202529;
    cursor: pointer;
    color: #fff;
    font-size: 2.6rem;
  }

  .nav-ul {
    display: block;
    flex-direction: column;
    overflow-y: scroll;
    direction: rtl;
    max-height: 80vh;
    width: 100%;
  }

  .hide-ul {
    max-height: 0vh;
  }

  .nav-link {
    padding: 1rem 0;
    font-size: 1rem;
    border-bottom: 1px solid #f4f4f4;
  }
}
/* END MOBILE MENU */

@media screen and (max-width: 640px) {
  #nav-menu-button {
    font-size: 1.4rem;
    padding: 1.2rem;
  }
}

/* DESKTOP MENU */
@media screen and (min-width: 921px) {

  #nav-menu-button {
    display: none;
  }

  #nav-container {
    min-height: 100px;
  }
  .nav-link {
    padding: 1.5rem .5rem;
  }
}

/* END DESKTOP MENU */
