.portfolio {
  display: flex;
  flex-direction: column;

  .port-1 {
    display: flex;
    height: 420px;
    background-color: #5b0fa1;
    align-items: center;
    justify-content: center;
  }

  .port-2 img {
    width: 100%;
    display: block;
  }

  .port-3 img {
    width: 100%;
    display: block;
  }
}
